@import 'variaveis';

.card-forms {

    box-shadow: rgba(240, 195, 46, 0.4) 5px 5px, rgba(240, 179, 46, 0.3) 10px 10px, rgba(240, 179, 46, 0.2) 15px 15px, rgba(240, 140, 46, 0.1) 20px 20px, rgba(240, 124, 46, 0.05) 25px 25px;


    background-color: $black;
    color: $white;
    padding: 20px;
    border: 1px $solid $white;
    width: 80%;

    .card-title {
        letter-spacing: 4px;
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
        text-shadow: 3px 3px 2px $yellow;
        text-transform: $uppercase;
        font-weight: $bold;
        margin-bottom: 30px;
        text-align: $center;
    }

    .btn-submit {
        background-color: $yellow;
        color: $black;

        &:hover {
            background-color: $orangered;
            color: $white;
        }
    }

    p {
        .text-warning {
            text-decoration: $none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .form-control {
        background-color: $black;
        color: $white;
    }

    .form-select {
        background-color: $black;
        color: $white;
    }

    /* Define o estilo do scroll */
    .form-select::-webkit-scrollbar {
        width: 12px;
        /* Largura do scroll */
    }

    /* Define a cor do scroll */
    .form-select::-webkit-scrollbar-thumb {
        background-color: $yellow;
        /* Cor do scroll */
        border-radius: 6px;
        /* Raio das bordas do scroll */
    }

    /* Define a cor do fundo do scroll */
    .form-select::-webkit-scrollbar-track {
        background-color: $black;
        /* Cor do fundo do scroll */
    }

    ::placeholder {
        color: #dadada;
        /* Por exemplo, cinza */
    }
}

.date-input {
    position: $relative;
    display: inline-block;
    width: 100%;
    color: $white;

    /* Cor do texto */
    background-color: $black;

    /* Cor de fundo */
    border: 1px $solid #ccc;
    padding: 10px;
    border-radius: 5px;
    -webkit-appearance: $none;

    /* Remove a aparência padrão no WebKit */
    -moz-appearance: $none;

    /* Remove a aparência padrão no Firefox */
    appearance: $none;

    /* Remove a aparência padrão */

    &::-webkit-calendar-picker-indicator {
        position: $absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: $white;

        /* Cor do ícone do calendário */
        background: $white;

        /* Cor de fundo do ícone do calendário */
        padding: 5px;
        border-radius: 50%;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-clear-button {
        display: none;
    }
}


.alert-success {
    background-color: rgb(0, 36, 0);
    color: greenyellow;
    border: 1px solid greenyellow;
}

.alert-danger {
    background-color: rgb(36, 0, 0);
    color: rgb(255, 47, 47);
    border: 1px solid rgb(255, 47, 47);
}

.alert-info {
    background-color: rgb(0, 16, 36);
    color: rgb(47, 144, 255);
    border: 1px solid rgb(47, 137, 255);
}