@import 'variaveis';

.card-forms {

    background-color: $black;
    color: $white;
    padding: 20px;
    border: 1px $solid $white;
    width: 80%;

    .card-title {
        letter-spacing: 4px;
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
        text-shadow: 3px 3px 2px $yellow;
        text-transform: $uppercase;
        font-weight: $bold;
        margin-bottom: 30px;
        text-align: $center;
    }

    .btn-submit {
        background-color: $yellow;
        color: $black;

        &:hover {
            background-color: $orangered;
            color: $white;
        }
    }

    p {
        .text-warning {
            text-decoration: $none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .form-control {
        background-color: $black;
        color: $white;
    }

    ::placeholder {
        color: #dadada; /* Por exemplo, cinza */
    }
}

    .alert-success {
        background-color: rgb(0, 36, 0);
        color: greenyellow;
        border: 1px solid greenyellow;
    }

    .alert-danger {
        background-color: rgb(36, 0, 0);
        color: rgb(255, 47, 47);
        border: 1px solid rgb(255, 47, 47);
    }

    .alert-info {
        background-color: rgb(0, 16, 36);
        color: rgb(47, 144, 255);
        border: 1px solid rgb(47, 137, 255);
    }