//Colors

$black: black;
$white: white;
$yellow: #ffc400;
$orange: orange;
$orangered: orangered;

//Texts

$bold: bold;
$uppercase: uppercase;
$center: center;

//Positions

$absolute: absolute;
$relative: relative;

//Others

$none: none;
$solid: solid;
$pointer: pointer;
$block: block;
$default: default;